* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

.section-main {
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: hsl(216, 50%, 16%);
  width: 35rem;
  /* height: auto; */
  padding: 2rem;
  border-radius: 20px;
}

.main-img {
  width: 100%;
  border-radius: 10px;
}

.img-box {
  margin-bottom: 1.6rem;
}

.title {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  line-height: 1.1;
  transition: all 0.3s;
}

.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.text {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  margin-bottom: 1.6rem;
}

.price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.price {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.days {
  color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 0;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.author-img {
  width: 3.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.author-text {
  color: hsl(215, 51%, 70%);
  font-size: 1.4rem;
}

.author-name {
  color: #fff;
  transition: all 0.3s;
}

.author-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

footer {
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  border: 1px solid hsl(212, 21%, 14%);
  padding: 3.2rem;
  box-shadow: -10px 5px 10px hsl(215, 32%, 27%);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.attribution:hover {
  top: -1.5rem;
}

.footer-text {
  font-size: 1.8rem;
  color: hsl(216, 50%, 16%);
}

.footer-link {
  text-decoration: none;
  font-weight: 600;
  color: hsl(178, 100%, 40%);
}
